@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap");


* {
  margin: 0;
  padding: 0;
}

:root {
  --darkBlue: rgb(7, 42, 200);
  --lightBlue: rgb(67, 210, 255);
  --paleBlue: rgb(162, 214, 249);
  --verPaleBue: rgb(209, 237, 255);
  --lightestBlueEver: rgb(236, 247, 255);
  --nearlyBlack: rgb(41, 46, 71);
  --grey: rgb(107, 112, 141);
  --lightGrey: rgb(245, 246, 252);
  --yellowishOrange: rgb(255, 198, 0);
  --white: rgb(255, 255, 255);
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--lightGrey);
  color: var(--nearlyBlack);
}

.contact-us-button input {
  background-color: var(--darkBlue);
  color: var(--lightGrey);
  border: none;
  height: 50px;
  width: 150px;
  font-size: 1.09em;
}

.secondary-button {
  background: transparent;
  border: none;
  height: 50px;
  width: 150px;
  font-size: 1.09em;
  color: var(--grey);
}

h1 {
  font-size: 3.75vw;
  font-weight: bold;
  color: var(--nearlyBlack);
  line-height: 125%;

  margin-top: 150px;
}

h2 {
  font-size: 50px;
  font-weight: bold;
}

h3 {
  font-size: 40px;
  font-weight: bold;
}

h4 {
  font-size: 24px;
  font-weight: bold;
}

@media screen and (min-width: 600px) and (max-width: 949px) {
  #nav-burger img {
    display: none;
  }

  #burger-logo {
    display: none;
  }

  #menyAvPaa {
    display: none;
  }

  #meny {
    display: none;
  }

  nav {

    display: flex;
    margin-top: 55px;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    flex-wrap: wrap;
    margin: 50px 100px;
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0 10px;
  }

  a {
    text-decoration: none;
    color: var(--grey);
    font-weight: 400;
  }

  a:hover {
    color: var(--darkBlue);
    font-weight: bolder;
  }

  .contact-us-button input {
    background-color: var(--darkBlue);
    color: var(--lightGrey);
    border: none;
    height: 48px;
    width: 100px;
    font-size: 0.9em;
  }

  .secondary-button {
    font-size: 0.9em;
  }

  .project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .project-samples img {
    width: 100%;
    height: 45%;
  }

  #smaller-pic {
    height: 151.95px;
  }


  #hero-container {
    display: flex;
    justify-content: space-around;
    margin: 0px 100px;
  }

  #heroimage-container {
    background-image: url(/hero-section/hero-image.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    display: flex;
    align-content: center;
    align-items: center;
    width: 60%;
    height: calc(51vw);
  }

  .hero-div {
    flex-direction: column;
    align-items: center;
    width: 50%;
    position: relative;
  }

  .hero-span {
    position: relative;
    height: 0;
    width: 20%;
    padding-bottom: 20%;
  }

  #hero-text {
    padding: 100px 0;
    width: 40%;
  }

  #credit-card {
    width: 220px;
    position: absolute;
    top: -170px;
    left: -190px;
    transition: transform .7s ease-in-out;
  }

  #credit-card:hover {
    transform: rotate(360deg);
  }

  #ok-emoji {
    width: 220px;
    position: absolute;
    right: -160px;
    bottom: -275px;
    transition: transform .7s ease-in-out;
  }

  #ok-emoji:hover {
    transform: rotate(360deg);
  }


  p {
    font-size: 1.4vw;
    color: var(--grey);
    line-height: 160%;
    margin-top: 15px;
  }

  .hero-form {
    display: flex;
    position: relative;
    width: 100%;
    margin-top: 30px;
  }

  .logo-section {
    display: flex;
    align-items: center;
    margin: 90px 100px;
    justify-content: space-between;
  }

  .form-left {
    display: block;

    width: 100%;
    padding: 25px;
  }

  .logo-section img:hover {
    filter: none;
  }

  .greyscale {
    filter: grayscale(100%);
    width: 75px;
  }

  .recent-projects {
    margin: 0px 100px 100px;
  }

  .recent-projects h3 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .project-samples {
    background: white;
    height: 341px;
    width: 200px;
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 15px;
    align-items: flex-start;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 0px 10px 17px 10px rgb(232 233 239);
  }

  .project-samples a {
    color: var(--darkBlue);
    padding-left: 20px;
  }

  .project-samples h4 {
    font-size: 24px;
    color: var(--nearlyBlack);
    font-weight: bold;
    padding-left: 20px;
  }

  .project-samples p {
    font-size: 1rem;
    color: var(--grey);
    font-weight: 100;
    position: relative;
    top: -34px;
    padding-left: 20px;
  }

  .testimonial-section {
    display: flex;
    width: 100;
    height: 500px;
    margin: 70px 25px;
    padding: 5px 25px;
    background-color: var(--nearlyBlack);
    background-image: url(./testimonial-section/orbit.png);
    background-position: center;
    background-size: cover;
    position: relative;
    justify-content: space-around;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }



  .testimonial-emoji {
    width: 100px;
    height: 100px;
    transition: transform 1.4s ease-in-out;

  }

  .bounce {
    animation: bounce 2s ease infinite;
  }

  @keyframes bounce {
    70% {
      transform: translateY(0%);
    }

    80% {
      transform: translateY(-15%);
    }

    90% {
      transform: translateY(0%);
    }

    95% {
      transform: translateY(-7%);
    }

    97% {
      transform: translateY(0%);
    }

    99% {
      transform: translateY(-3%);
    }

    100% {
      transform: translateY(0);
    }
  }

  #emoji1 {
    position: absolute;
    top: 60px;
    left: 75px;

  }

  #emoji1:hover {
    transform: rotate(360deg);

  }

  #emoji2 {
    position: absolute;
    bottom: 60px;
    left: 75px;
  }

  #emoji2:hover {
    animation: bounce 1s ease infinite;
  }

  #emoji3 {
    position: absolute;
    top: 60px;
    right: 75px;
  }

  #emoji3:hover {
    animation: bounce 1s ease infinite;
  }

  #emoji4 {
    position: absolute;
    bottom: 60px;
    right: 75px;
  }

  #emoji4:hover {
    transform: rotate(360deg);
  }

  .testimonial-section h3 {
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--lightGrey);
    margin-top: 85px;
    margin-left: 40px;
    margin-bottom: 67px;
  }

  .testimonial-section article {
    font-size: 1.3rem;
    color: var(--yellowishOrange);
    font-weight: 100;
  }

  #first-article {
    position: absolute;
    top: 245px;

  }

  #second-article {
    position: absolute;
    top: 280px;
  }

  .testimonial-user {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 362px;
    border-radius: 50%;
    top: center;
    left: center;
    transition: transform 1.4s ease-in-out;
  }

  .testimonial-user:hover {
    transform: scale(2.5);
  }

  .user-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 168px;
    margin-bottom: 50px;
  }

  #name {
    font-size: 0.7rem;
    font-weight: 100;
    color: var;
    color: var(--paleBlue);
    line-height: 140%;
  }

  .user-container p {
    font-size: 0.55rem;
    font-weight: 100;
    color: var(--lightGrey);
    line-height: 140%;
    margin-top: 0px;
  }

  .service-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100;
    margin: 100px 100px 0px;
  }

  .service-container {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    align-content: space-around;
    align-items: center;
    width: 100%;
  }

  .service-section h3 {
    font-size: 30px;
    width: -webkit-fill-available;
    margin-bottom: 60px;
  }

  .service-section img {
    /* width: 40px; */
    object-fit: scale-down;
  }

  .service-samples {
    background: white;
    width: 200px;
    height: 372px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 3px;
    margin-right: 5px;
    margin-bottom: 150px;
    box-shadow: 0px 10px 17px 10px rgb(232 233 239);
  }

  .service-img-background {
    display: flex;
    background-color: var(--lightestBlueEver);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-top: 29px;
  }

  .service-info h4 {
    font-size: 18px;
    margin-top: 14px;
    margin-left: 30px;
  }

  .service-info p {
    font-size: 0.9rem;
    color: var(--grey);
    line-height: 160%;
    margin: 30px 30px;
  }

  .service-info a {
    font-size: 0.9rem;
    color: var(--darkBlue);
    line-height: 160%;
    margin: 0px 30px;
    text-decoration: none;
  }

  .querie-mail {
    display: flex;
    background-color: var(--yellowishOrange);
    height: 405px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90;
    margin: 0 20px;
  }

  .querie-mail h3 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 100px
  }

  .querie-mail p {
    margin-bottom: 40px;
  }

  .contact-us-input {
    background-color: var(--lightestBlueEver);
    border: none;
    height: 50px;
    width: 274px;
    font-size: 0.75em;
    padding-left: 55px;
  }

  .querie-mail form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 490px;
    position: relative;
    margin-bottom: 55px;
  }

  .querie-mail img {
    width: 21px;
    position: absolute;
    top: 14px;
    left: 22px;
  }

  #subscribe-button {
    background-color: var(--darkBlue);
    color: var(--lightGrey);
    border: none;
    height: 48px;
    width: 150px;
    font-size: 0.9em;
  }

  footer {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
    height: 300px;
  }

  footer img {
    position: relative;
    top: 5px;
    margin-bottom: 0px;
    width: 100px;
  }

  .footer-links a {
    font-size: 15px;
    font-weight: 300;
    margin: 2vw;

  }

  .logo-address {
    position: relative;
  }


  .footer-div :first-child {
    margin-bottom: 55px;
  }

  .address {
    font-size: 1.8vw;
    color: var(--grey);
    font-family: 'Roboto';
  }

  .simplify-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  #project-simplify {
    width: -webkit-fill-available;
    margin: 50px 95px;
    height: calc(0.34 * 100vw);
    object-fit: cover;
  }

  .wrap {
    width: 100%;

    position: relative;
  }

  .shadow-image {
    position: relative;
    z-index: 2;
  }

  .shadow {
    bottom: -30px;
    filter: blur(20px);
    height: 100%;
    top: 5px;
    left: 0px;
    position: absolute;
    transform: scale(0.95);
    width: 100%;
    opacity: 10%;
    z-index: 1;
  }

  .simplify-main h2 {
    font-size: 55px;
    margin-left: 95px;
    font-weight: bold;
  }

  .simplify-main span {
    display: flex;
    margin: 15px 49px;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
  }

  .simplify-main date {
    font-size: 18px;
    color: var(--grey);
    line-height: 160%;
    margin-left: 4px;
  }

  #project-title {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--grey);
    line-height: 160%;
  }

  .date-span {
    display: flex;
    color: var(--nearlyBlack);
    font-size: 18px;
    flex-direction: row;
    margin: 0 49px;
    align-items: center;
  }

  .simplify-main article {
    font-size: 1.2rem;
    color: var(--grey);
    line-height: 160%;
    margin: 40px 95px;
  }

  #orbit-sample {
    height: 341px;
  }

  .contact-us-section {
    padding: 100px;
  }

  .contact-us-section h3 {
    font-size: 57px;
    font-weight: bolder;
    margin-bottom: 80px;
  }

  #fullname-input {
    width: -webkit-fill-available;
  }

  .contact-us-section input {
    padding: 10px 10px 10px 18px;
  }

  .contact-us-section-span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100;
  }

  .email-contact-us {
    width: 100%;
    padding-right: 30px;
  }

  .phone-contact-us {
    width: 100%;
    padding-left: 15px;
    margin-right: 30px;
  }

  .email-phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .email-phone input {
    width: 100%;
  }

  form.contact-us-form {
    width: -webkit-fill-available;
  }

  .contact-us-form input {
    background-color: rgb(230, 233, 241);
    margin-bottom: 25px;
  }

  .contact-us-form label {
    font-size: 1.2rem;
    color: var(--grey);
    line-height: 160%;
  }

  #contact-section-contact-us-button {
    background-color: var(--darkBlue);
    color: var(--lightGrey);
    border: none;
    height: 50px;
    width: 100%;
    font-size: 1.09em;
  }

  #contact-us-message {
    width: -webkit-fill-available;
    height: 55px;
    padding-bottom: 175px;
  }

  #contact-us-message {
    width: -webkit-fill-available;
    height: 200px;
    padding: 15px;
    margin-bottom: 25px;
    background-color: rgb(230, 233, 241);
    font-size: 0.75em;
    border-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

}

@media screen and (min-width: 950px) {
  #nav-burger img {
    display: none;
  }

  #burger-logo {
    display: none;
  }

  #menyAvPaa {
    display: none;
  }

  #meny {
    display: none;
  }

  nav {

    display: flex;
    margin-top: 55px;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    flex-wrap: wrap;
    margin: 50px 100px;
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0 30px;
  }

  a {
    text-decoration: none;
    color: var(--grey);
    font-weight: 400;
    margin-left: 25px;
    margin-bottom: 25px;
  }

  a:hover {
    color: var(--darkBlue);
    font-weight: bolder;
  }

  .project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .project-samples {
    width: 340px;
  }

  .project-samples img {
    width: 100%;
    height: 45%;
  }

  #hero-container {
    display: flex;
    justify-content: space-around;
    margin: 0px 100px;
  }

  #heroimage-container {
    background-image: url(/hero-section/hero-image.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    display: flex;
    align-content: center;
    align-items: center;
    width: 60%;
    height: calc(51vw);
  }

  .hero-div {
    flex-direction: column;
    align-items: center;
    width: 50%;
    position: relative;
  }

  .hero-span {
    position: relative;
    height: 0;
    width: 20%;
    padding-bottom: 20%;
  }

  #hero-text {
    padding: 100px 0;
    width: 40%;
  }

  #credit-card {
    width: 300px;
    position: absolute;
    top: -260px;
    left: -289px;
    transition: transform .7s ease-in-out;
  }

  #credit-card:hover {
    transform: rotate(360deg);
  }

  #ok-emoji {
    width: 300px;
    position: absolute;
    right: -276px;
    bottom: -366px;
    transition: transform .7s ease-in-out;
  }

  #ok-emoji:hover {
    transform: rotate(360deg);
  }


  p {
    font-size: 1.4vw;
    color: var(--grey);
    line-height: 160%;
    margin-top: 15px;
  }

  .hero-form {
    display: flex;
    position: relative;
    width: 100%;
    margin-top: 30px;
  }

  .logo-section {
    display: flex;
    align-items: center;
    margin: 90px 100px;
    justify-content: space-between;
  }

  .form-left {
    display: block;

    width: 100%;
    padding: 25px;
  }

  .logo-section img:hover {
    filter: none;
  }

  .greyscale {
    filter: grayscale(100%);
    width: 75px;
  }

  .recent-projects {
    margin: 0px 100px 100px;
  }

  .recent-projects h3 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .project-samples {
    background: white;
    height: 470px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
    position: relative;
    box-shadow: 0px 10px 17px 10px rgb(232 233 239);
  }

  .project-samples a {
    color: var(--darkBlue)
  }

  .project-samples h4 {
    font-size: 24px;
    color: var(--nearlyBlack);
    font-weight: bold;
    margin-left: 25px;
  }

  .project-samples p {
    font-size: 1rem;
    color: var(--grey);
    font-weight: 100;
    position: relative;
    top: -34px;
    margin-left: 25px;
  }

  .testimonial-section {
    display: flex;
    width: 100;
    height: 500px;
    margin: 70px 25px;
    padding: 5px 0px;
    background-color: var(--nearlyBlack);
    background-image: url(./testimonial-section/orbit.png);
    background-position: center;
    background-size: cover;
    position: relative;
    justify-content: space-around;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  .testimonial-emoji {
    width: 100px;
    height: 100px;
    transition: transform 1.4s ease-in-out;
  }

  .bounce {
    animation: bounce 2s ease infinite;
  }

  @keyframes bounce {
    70% {
      transform: translateY(0%);
    }

    80% {
      transform: translateY(-15%);
    }

    90% {
      transform: translateY(0%);
    }

    95% {
      transform: translateY(-7%);
    }

    97% {
      transform: translateY(0%);
    }

    99% {
      transform: translateY(-3%);
    }

    100% {
      transform: translateY(0);
    }
  }

  #emoji1 {
    position: absolute;
    top: 60px;
    left: 75px;
  }

  #emoji1:hover {
    transform: rotate(360deg);
  }

  #emoji2 {
    position: absolute;
    bottom: 60px;
    left: 75px;
  }

  #emoji2:hover {
    animation: bounce 1s ease infinite;
  }

  #emoji3 {
    position: absolute;
    top: 60px;
    right: 75px;
  }

  #emoji3:hover {
    animation: bounce 1s ease infinite;
  }

  #emoji4 {
    position: absolute;
    bottom: 60px;
    right: 75px;
  }

  #emoji4:hover {
    transform: rotate(360deg);
  }

  .testimonial-section h3 {
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--lightGrey);
    margin-top: 85px;
    margin-left: 40px;
    margin-bottom: 67px;
  }

  .testimonial-section article {
    font-size: 1.3rem;
    color: var(--yellowishOrange);
    font-weight: 100;
  }

  #first-article {
    position: absolute;
    top: 245px;

  }

  #second-article {
    position: absolute;
    top: 280px;
  }

  .testimonial-user {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 362px;
    border-radius: 50%;
    top: center;
    left: center;
    transition: transform 1.4s ease-in-out;
  }

  .testimonial-user:hover {
    transform: scale(2.5);
  }

  .user-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 168px;
    margin-bottom: 50px;
  }

  #name {
    font-size: 0.7rem;
    font-weight: 100;
    color: var;
    color: var(--paleBlue);
    line-height: 140%;
  }

  .user-container p {
    font-size: 0.55rem;
    font-weight: 100;
    color: var(--lightGrey);
    line-height: 140%;
    margin-top: 0px;
  }

  .service-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100;
    margin: 100px 100px 0px;
  }

  .service-container {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    align-content: space-around;
    align-items: center;
    width: 100%;
  }

  .service-section h3 {
    font-size: 40px;
    width: -webkit-fill-available;
    margin-bottom: 60px;
  }

  .service-section img {
    /* width: 40px; */
    object-fit: scale-down;
  }

  .service-samples {
    background: white;
    width: 300px;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 3px;
    margin-right: 5px;
    margin-bottom: 150px;
    box-shadow: 0px 10px 17px 10px rgb(232 233 239);
  }

  .service-img-background {
    display: flex;
    background-color: var(--lightestBlueEver);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
  }

  .service-info h4 {
    font-size: 22px;
    margin-left: 30px;
  }

  .service-info p {
    font-size: 1.1rem;
    color: var(--grey);
    line-height: 160%;
    margin: 40px 30px;
  }

  .service-info a {
    font-size: 0.9rem;
    color: var(--darkBlue);
    line-height: 160%;
    margin: 0px 30px;
    text-decoration: none;
  }

  .querie-mail {
    display: flex;
    background-color: var(--yellowishOrange);
    height: 405px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90;
    margin: 0 20px;
  }

  .querie-mail h3 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 100px
  }

  .querie-mail p {
    margin-bottom: 40px;
  }

  .contact-us-button {
    background-color: var(--darkBlue);
    color: var(--lightGrey);
    border: none;
    height: 50px;
    width: 150px;
    font-size: 1.09em;
  }

  button#subscribe-button {
    background-color: var(--darkBlue);
    color: var(--lightGrey);
    border: none;
    height: 50px;
    width: 150px;
    font-size: 1.09em;
  }

  .contact-us-input {
    background-color: var(--lightestBlueEver);
    border: none;
    height: 50px;
    width: 274px;
    font-size: 0.75em;
    padding-left: 55px;
  }

  .querie-mail form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 490px;
    position: relative;
    margin-bottom: 55px;
  }

  .querie-mail img {
    width: 21px;
    position: absolute;
    top: 14px;
    left: 22px;
  }

  footer {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
    height: 300px;
  }

  footer img {
    position: relative;
    top: 15px;
    margin-bottom: 0px;
    width: 100px;
  }

  .footer-links a {
    font-size: 15px;
    font-weight: 300;
    margin: 45px;

  }

  .logo-address {
    position: relative;
  }

  .footer-div :first-child {
    margin-bottom: 55px;
  }

  .address {
    font-size: 17px;
    color: var(--grey);
    font-family: 'Roboto';
  }

  .simplify-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  #project-simplify {
    width: -webkit-fill-available;
    margin: 50px 95px;
    height: calc(0.34 * 100vw);
    object-fit: cover;
  }

  .wrap {
    width: 100%;

    position: relative;
  }

  .shadow-image {
    position: relative;
    z-index: 2;
  }

  .shadow {
    bottom: -30px;
    filter: blur(20px);
    height: 100%;
    top: 5px;
    left: 0px;
    position: absolute;
    transform: scale(0.95);
    width: 100%;
    opacity: 10%;
    z-index: 1;
  }

  .simplify-main h2 {
    font-size: 55px;
    margin-left: 95px;
    font-weight: bold;
  }

  .simplify-main span {
    display: flex;
    margin: 15px 49px;
    justify-content: space-between;
    align-items: center;
  }

  .simplify-main date {
    font-size: 18px;
    color: var(--grey);
    line-height: 160%;
    margin-left: 4px;
  }

  #project-title {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--grey);
    line-height: 160%;
  }

  .date-span {
    color: var(--nearlyBlack);
    font-size: 18px;
    margin-right: 49px;
  }

  .simplify-main article {
    font-size: 1.2rem;
    color: var(--grey);
    line-height: 160%;
    margin: 40px 95px;
  }

  #orbit-sample {
    position: relative;
    top: 16px;
    height: 470px;
    margin-bottom: 62px;
  }

  .contact-us-section {
    padding: 100px;
  }

  .contact-us-section h3 {
    font-size: 57px;
    font-weight: bolder;
    margin-bottom: 80px;
  }

  #fullname-input {
    width: -webkit-fill-available;
  }

  .contact-us-section input {
    padding: 10px 10px 10px 18px;
  }

  .contact-us-section-span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100;
  }

  .email-contact-us {
    width: 100%;
    padding-right: 30px;
  }

  .phone-contact-us {
    width: 100%;
    padding-left: 15px;
    margin-right: 30px;
  }

  .email-phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .email-phone input {
    width: 100%;
  }

  form.contact-us-form {
    width: -webkit-fill-available;
  }

  .contact-us-form input {
    background-color: rgb(230, 233, 241);
    margin-bottom: 25px;
  }

  .contact-us-form label {
    font-size: 1.2rem;
    color: var(--grey);
    line-height: 160%;
  }

  #contact-section-contact-us-button {
    background-color: var(--darkBlue);
    color: var(--lightGrey);
    border: none;
    height: 50px;
    width: 100%;
    font-size: 1.09em;
  }

  #contact-us-message {
    width: -webkit-fill-available;
    height: 55px;
    padding-bottom: 175px;
  }

  #contact-us-message {
    width: -webkit-fill-available;
    height: 200px;
    padding: 15px;
    margin-bottom: 25px;
    background-color: rgb(230, 233, 241);
    font-size: 0.75em;
    border-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

}

@media screen and (max-width: 599px) {

  nav {
    display: none;
  }

  .hero-div h1 {
    font-size: 1.8rem;
    font-weight: bold;
    padding: 0px 10px;
    margin-top: 0px;
  }

  .hero-div p {
    color: var(--grey);
    font-size: rem;
    line-height: 145%;
    padding: 0px 10px;
    text-align: start;
    width: -webkit-fill-available;
  }


  .burger-wrapper {
    cursor: pointer;
  }

  #meny {
    background: var(--lightGrey);
    width: 75%;
    height: 100vh;
    position: fixed;
    padding: 149px 0 0 100px;
    right: 0;
    transition-timing-function: cubic-bezier(10, 2, 3, 1);
    transform: translateX(50rem);
    top: 0;
    z-index: 9;
    transition: 1s;
  }

  #menyAvPaa {
    display: none;
  }

  #menyAvPaa:checked~#meny {
    transform: translateX(0rem);
  }

  #burger {
    position: absolute;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    right: 1.9rem;
    top: 1.9rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  #burger-logo {
    margin: 1.9rem;
    width: 100px;
  }

  #burger>div {
    height: 2px;
    background-color: var(--nearlyBlack);
    transition: 0.5s;
    z-index: 999;
  }

  #menyAvPaa:checked~#burger>div {
    background-color: var(--grey);
  }

  #menyAvPaa:checked~#burger>div:nth-child(1) {
    transform: translateY(15px) rotate(45deg);
  }

  #menyAvPaa:checked~#burger>div:nth-child(2) {
    opacity: 0;
  }

  #menyAvPaa:checked~#burger>div:nth-child(3) {
    transform: translateY(-15px) rotate(-45deg);
  }

  #meny ul li {
    text-decoration: none;
    list-style: none;
    margin: 50px 0 0 40px;
  }

  #meny ul li a {
    text-decoration: none;
    list-style: none;
    color: var(--grey);
    font-size: 30px;
  }

  section.hero {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 20px;
  }

  .hero-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin: 0px 20px 25px 20px;
    height: 350px;
  }

  .hero-span {
    position: relative;
    height: 0;
    width: 20%;
    padding-bottom: 20%;
  }

  #heroimage-container {
    background-image: url(/hero-section/hero-image.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    display: flex;
    align-content: center;
    align-items: center;
  }

  .secondary-button {
    margin-left: 5px;
  }

  #ok-emoji {
    position: absolute;
    bottom: -175px;
    right: -140px;
    width: 145px;
  }

  #credit-card {
    width: 145px;
    position: absolute;
    top: -115px;
    left: -128px;
  }

  .hero-form {
    display: flex;
  }

  .logo-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 20px 60px 20px;
  }

  .greyscale {
    filter: grayscale(100%);
    width: 35px;
  }

  .project-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .project-samples {
    background: white;
    height: 209px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    margin-bottom: 25px;
    box-shadow: 0px 10px 17px 10px rgb(232 233 239);
  }

  .project-samples {

    max-width: 300px;
    height: 425px;
  }

  .project-samples img {
    max-width: 300px;
  }

  .project-samples h4 {
    font-size: 24px;
    color: var(--nearlyBlack);
    font-weight: bold;
    margin-left: 25px;
  }

  .recent-projects {
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .recent-projects h3 {
    margin-bottom: 50px;
  }

  .project-samples p {
    font-size: 1rem;
    color: var(--grey);
    font-weight: 100;
    position: relative;
    top: -34px;
    padding: 0%;
    margin-left: 25px;
  }

  .project-samples a {
    color: var(--darkBlue);
    margin-left: 25px;
    margin-bottom: 25px;
  }

  .testimonial-section {
    display: flex;
    width: 100%;
    height: 500px;
    background-color: var(--nearlyBlack);
    background-image: url(./testimonial-section/orbit.png);
    background-position: center;
    background-size: cover;
    position: relative;
    justify-content: space-around;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  .testimonial-emoji {
    width: 80px;
    height: 80px;
  }

  #emoji1 {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  #emoji2 {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  #emoji3 {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  #emoji4 {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

  .testimonial-section h3 {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--lightGrey);
    margin-top: 45px;
  }

  .testimonial-section article {
    font-size: 0.9rem;
    color: var(--yellowishOrange);
    font-weight: 100;
  }

  #first-article {
    position: absolute;
    top: 235px;
  }

  #second-article {
    position: absolute;
    top: 260px;
  }

  .testimonial-user {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    top: 369px;
    border-radius: 50%;
    top: center;
    left: center;
  }

  .testimonial-user:hover {
    transform: scale(1.1);
  }

  .user-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 154px;
  }

  #name {
    font-size: 0.7rem;
    font-weight: 100;
    color: var;
    color: var(--paleBlue);
    line-height: 140%;
  }

  .user-container p {
    font-size: 0.55rem;
    font-weight: 100;
    color: var(--lightGrey);
    line-height: 140%;
  }

  .service-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100;
    margin: 9%;
  }

  .service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    width: 100%;
  }

  .service-section h3 {
    font-size: 40px;
    width: -webkit-fill-available;
    margin: 70px 0px 60px 0px;
    text-align: center;
  }

  .service-section img {
    /* width: 40px; */
    object-fit: scale-down;
  }

  .service-samples {
    background: white;
    width: 300px;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 3px;
    margin-right: 5px;
    margin-bottom: 60px;
    box-shadow: 0px 10px 17px 10px rgb(232 233 239);
  }

  .service-img-background {
    display: flex;
    background-color: var(--lightestBlueEver);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
  }

  .service-info h4 {
    font-size: 22px;
    margin-left: 30px;
  }

  .service-info p {
    font-size: 1.1rem;
    color: var(--grey);
    line-height: 160%;
    margin: 40px 30px;
  }

  .service-info a {
    font-size: 0.9rem;
    color: var(--darkBlue);
    line-height: 160%;
    margin: 0px 30px;
    text-decoration: none;
  }

  .querie-mail {
    display: flex;
    background-color: var(--yellowishOrange);
    height: 275px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90;
    margin: 0px 0px;
  }

  .querie-mail h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 34px;
  }

  .querie-mail p {
    margin-bottom: 40px;
  }

  #hero-contact-us {
    width: 110px;
  }

  #hero-contact-us input {
    width: 120px;
  }

  .contact-us-button {
    background-color: var(--darkBlue);
    color: var(--lightGrey);
    border: none;
    height: 50px;
    width: 100px;
    font-size: 1em;
  }

  .contact-us-input {
    background-color: var(--lightestBlueEver);
    border: none;
    height: 50px;
    width: 80px;
    font-size: 0.55em;
    padding-left: 55px;
  }

  #subscribe-button {
    background-color: var(--darkBlue);
    color: var(--lightGrey);
    border: none;
    height: 48px;
    width: 100px;
    font-size: 0.9em;
  }

  .querie-mail form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 250px;
    position: relative;
    margin-bottom: 30px;
  }

  .querie-mail img {
    width: 21px;
    position: absolute;
    top: 14px;
    left: 27px;
  }

  footer {
    display: flex;
    align-content: center;
    align-items: center;
    height: 300px;
    flex-direction: column-reverse;
    justify-content: space-around;
  }

  footer img {
    margin-bottom: 40px;
  }

  .footer-links a {
    font-size: 12px;
    font-weight: 100;
    margin: 19px;
    text-decoration: none;
  }

  .logo-address {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    align-content: center;
  }

  .address {
    font-size: 12px;
    font-weight: 100;
    margin-left: 10px;
  }

  .footer-div :first-child {
    margin-top: 50px;
    margin-bottom: 52px;
  }

  .simplify-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  #project-simplify {
    width: -webkit-fill-available;
    min-width: 300px;
    margin: 50px 27px;
    height: calc(0.34 * 100vw);
    object-fit: cover;
  }

  .wrap {
    width: 100%;

    position: relative;
  }

  .shadow-image {
    position: relative;
    z-index: 2;
  }

  .shadow {
    bottom: -30px;
    filter: blur(20px);
    height: 100%;
    top: 5px;
    left: 0px;
    position: absolute;
    transform: scale(0.95);
    width: 100%;
    opacity: 10%;
    z-index: 1;
  }

  .simplify-main h2 {
    font-size: 44px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 40px;
  }

  .simplify-main span {
    font-size: 15px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    color: var(--nearlyBlack);
    margin: 15px;
    align-items: center;
    flex-direction: column;
  }

  span.date-span {
    display: flex;
    color: var(--nearlyBlack);
    flex-direction: row;
  }

  .date-span date {
    color: var(--grey);
    margin-left: 3px;
  }

  span#project-title {
    font-size: 20px;
  }

  .simplify-main article {
    margin: 30px;
    color: var(--grey);
  }

  .contact-us-section {
    padding: 35px;
  }

  .contact-us-section h3 {
    font-size: 57px;
    font-weight: bolder;
    margin-bottom: 80px;
  }

  #fullname-input {
    width: -webkit-fill-available;
  }

  .contact-us-section input {
    padding: 10px 10px 10px 18px;
  }

  .contact-us-section-span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100;
  }

  .email-contact-us {
    width: 100%;
  }

  .phone-contact-us {
    width: 100%;
  }

  .email-phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 74vw;
    flex-direction: column;
    margin-left: 0px;
  }

  .email-phone input {
    width: 100%;
  }

  form.contact-us-form {
    width: -webkit-fill-available;
  }

  .contact-us-form input {
    background-color: rgb(230, 233, 241);
    margin-bottom: 25px;
    font-size: 5vw;
  }

  .contact-us-form label {
    font-size: 1.2rem;
    color: var(--grey);
    line-height: 160%;
  }

  #contact-section-contact-us-button {
    background-color: var(--darkBlue);
    color: var(--lightGrey);
    border: none;
    height: 50px;
    width: 100%;
    font-size: 1.09em;
  }

  #contact-us-message {
    width: -webkit-fill-available;
    height: 200px;
    padding: 15px;
    margin-bottom: 25px;
    background-color: rgb(230, 233, 241);
    font-size: 5vw;
    border-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}
