@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  color: var(--nearlyBlack);
}

:root {
  --darkBlue: rgb(7, 42, 200);
  --lightBlue: rgb(67, 210, 255);
  --paleBlue: rgb(162, 214, 249);
  --verPaleBue: rgb(209, 237, 255);
  --lightestBlueEver: rgb(236, 247, 255);
  --nearlyBlack: rgb(41, 46, 71);
  --grey: rgb(107, 112, 141);
  --lightGrey: rgb(242, 244, 252);
  --yellowishOrange: rgb(255, 198, 0);
  --white: rgb(255, 255, 255);
}

body {
  font-family: Roboto, sans-serif;
}

#main-container {
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.contact-us-button input {
  background-color: var(--darkBlue);
  color: var(--lightGrey);
  border: none;
  height: 50px;
  width: 150px;
  font-size: 1.09em;
}

.secondary-button {
  background: transparent;
  border: none;
  height: 50px;
  width: 150px;
  font-size: 1.09em;
  color: var(--grey);
}

h1 {
  font-size: 60px;
  font-weight: bold;
  color: var(--nearlyBlack);
  line-height: 125%;
}

h2 {
  font-size: 50px;
  font-weight: bold;
}

h3 {
  font-size: 40px;
  font-weight: bold;
}

h4 {
  font-size: 24px;
  font-weight: bold;
}



@media screen and (min-width: 701px) {
  #nav-burger img {
    display: none;
  }

  nav {
    display: flex;
    margin-top: 55px;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0 30px;
  }

  a {
    text-decoration: none;
    color: var(--grey);
    font-weight: 600;
  }

  a:hover {
    color: var(--darkBlue);
    font-weight: bolder;
  }

  /* .contact-us-button input {
    background-color: var(--darkBlue);
    color: var(--lightGrey);
    border: none;
    height: 50px;
    width: 150px;
    font-size: 1.09em;
  }

  .secondary-button {
    background: transparent;
    border: none;
    height: 50px;
    width: 150px;
    font-size: 1.09em;
    color: var(--grey);
  }

  h1 {
    font-size: 60px;
    font-weight: bold;
  }

  h2 {
    font-size: 50px;
    font-weight: bold;
  }

  h3 {
    font-size: 40px;
    font-weight: bold;
  }

  h4 {
    font-size: 24px;
    font-weight: bold;
  } */
  #hero-container {
    display: flex;
    justify-content: space-around;
    position: relative;
  }

  .hero-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    padding: 25px;
    position: relative;
  }

  #the-hero {
    width: -webkit-fill-available;
  }

  #credit-card {
    width: 54%;
    position: absolute;
    top: 0px;
    left: -58px;
  }

  #ok-emoji {
    width: 52%;
    position: absolute;
    right: -32px;
    bottom: -100px;
  }

  p {
    font-size: 1.3em;
    color: var(--grey);
    line-height: 160%;
  }

  .hero-form {
    display: flex;
    position: relative;
    left: -63px;
  }

  .logo-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 60px 0px 60px 0px
  }

  .form-left {
    display: block;

    width: 100%;
    padding: 25px;
  }

  .greyscale {
    filter: grayscale(100%);
    width: 75px;
  }

}

@media screen and (max-width: 700px) {
  nav {
    display: none;
  }

  h1 {
    font-size: 1.8rem;
    position: relative;
    font-weight: bold;
    top: -162px;
    padding: 10px;
    margin-bottom: 21px;
  }

  p {
    position: relative;
    padding: 10px;
    margin-bottom: -25px;
    color: var(--grey);
    line-height: 130%;
  }

  #nav-burger {
    width: 60px;
    height: 45px;
    position: relative;
    margin-top: 33px;
    margin-left: 40px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }


  #nav-burger span {
    display: block;
    position: absolute;
    height: 8px;
    width: 100%;
    background: var(--nearlyBlack);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  #nav-burger span:nth-child(1) {
    top: 0px;
  }

  #nav-burger span:nth-child(2),
  #nav-burger span:nth-child(3) {
    top: 15px;
  }

  #nav-burger span:nth-child(4) {
    top: 30px;
  }

  #nav-burger.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  #nav-burger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #nav-burger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #nav-burger.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  #nav-burger img {
    margin-left: 90px;
    margin-top: 2px;
    width: 90px;
  }

  section.hero {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 20px;
  }

  container.hero-div {
    display: contents;
    position: absolute;
  }

  #ok-emoji {
    position: absolute;
    bottom: 216px;
    right: -38px;
    width: 50%;
  }

  #the-hero {
    margin-bottom: 100px;
  }

  #credit-card {
    width: 50%;
    position: absolute;
    left: -18px;
    top: 75px;
  }

  .hero-form {
    display: flex;
    position: relative;
    top: 152px;
    justify-content: center;
  }


  .logo-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .greyscale {
    filter: grayscale(100%);
    width: 35px;
  }
}
